# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FSharpSandbox.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\PrivateRepos\fsharp-sandbox\.idea\.idea.FSharpSandbox\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
